/* Import fonts */

@import url("https://fonts.googleapis.com/css2?family=Risque&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Risque&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200;1,300&display=swap");

/* Reset and normalize */

@import url("./normalize.css");

/* Styles */

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

h1,
h2,
h3 {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 18.2vw;
  padding: 2vw 5.2vw;
  box-shadow: 0 -9.5px 6.7vw 0.9px hsl(0deg 0% 0% / 20%);
}

.header_top,
.header_bottom {
  display: flex;
  justify-content: space-between;
}

.header_bottom {
  margin-top: 0.7vw;
}

.logo h1 {
  font-family: "Libre Bodoni", serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-shadow: -0.06vw -0.06vw 0.06vw red, 0.09vw 0.09vw 0.06vw black;
  color: white;
  transition: 0.2s;
  margin-bottom: 2vw;
  margin-top: -0.3vw;
  font-size: 2.5vw;
}

.logo h1:hover {
  transition: 0.2s;
  text-shadow: -0.12vw -0.12vw 0.061vw red, 0.155vw 0.155vw 0.06vw black;
}

.menu {
  margin-top: 0.7vw;
  display: flex;
  justify-content: space-between;
  width: 24vw;
}

.search_btn {
  font-weight: 600;
  padding: 0.57vw 1.15vw;
  background-color: white;
  color: #f9694b;
  border: 0.06vw solid #f9694b;
  font-size: 0.78vw;
  transition: 0.2s;
}

.search_result {
  width: 20.7vw;
  align-items: center;
  padding: 0.5vw;
  margin-right: 3vw;
  font-size: 0.8vw;
}

.top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5vw;
}

.search_result img {
  width: 2vw;
}

.note {
  text-align-last: left;
}

.Add_btn {
  padding: 0.6vw 1vw;
  font-size: 1.2vw;
  font-weight: 600;
  background-color: white;
  color: #f9694b;
  border: 0.06vw solid #f9694b;
  transition: 0.2s;
}

.Add_btn:hover,
.search_btn:hover {
  background-color: #f75c48;
  color: white;
  transition: 0.2s;
}

input[type="search"] {
  padding: 0.5vw 0 0.5vw 0.4vw;
  width: 11.5vw;
  margin-right: 0.9vw;
  font-size: 0.78vw;
  transition: 0.2s;
}

input[type="search"]:hover {
  width: 20.7vw;
  transition: 0.2s;
}

.menu a {
  color: #f9694b;
  font-weight: 600;
  font-size: 1.15vw;
}

.teachers_map a {
  color: #46b7cf;
  font-size: 0.8vw;
  border-bottom: 0.1vw dashed #46b7cf;
  cursor: pointer;
}

.teachers_map {
  text-align: left;
}

.teachers_data-second a {
  color: #46b7cf;
}

.btn-active,
#btn-close,
thead button {
  background: none;
  border: none;
}

.teacher_info-head button {
  color: #fff;
}

.teachers a {
  color: #000;
}

.pagination a {
  font-size: 0.84vw;
  margin: 0 0.5vw;
  color: #1b9fb4;
}

.menu a:hover {
  color: #cb3b55;
}

hr {
  width: 50%;
  margin: 2.1vw 25% 1.6vw 25%;
  background-color: black;
  height: 0.12vw;
}

section h2 {
  font-size: 2vw;
}

.sort {
  display: flex;
  transform: translateY(1.8vw);
}

.category {
  border-right: 0.15vw dotted #999;
  color: #999;
  display: flex;
  height: 2vw;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1vw;
}

.category:last-child {
  border-right: none;
}

.category:first-child {
  padding-left: 0;
}

.category p,
.category label {
  font-size: 0.8vw;
}

.item p {
  margin-bottom: 0.7vw;
}

.photo p {
  font-size: 1.3vw;
  font-weight: bold;
  color: #f75e43;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.info p {
  margin-top: 2.2vw;
  text-align: left;
  font-size: 0.8vw;
  line-height: 1vw;
}

.teachers_notes p {
  text-align: left;
  padding-top: 1.6vw;
  font-size: 0.8vw;
  line-height: 1.05vw;
}

.category p:first-child {
  margin-left: 0;
}

.category select {
  height: 2vw;
  margin-left: 1vw;
  padding: 0 0.2vw;
}

.category select option {
  font-size: 1vw;
}

.teachers {
  width: 100%;
  margin-top: 3vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.photo {
  position: relative;
  width: 7.68vw;
  height: 7.68vw;
  margin: 2vw auto;
  margin-bottom: 1vw;
  overflow: hidden;
  border-radius: 50%;
  outline: 0.25vw solid #fa9787;
  transition: 0.2s;
}

.photo:hover {
  outline: 0.25vw solid #d14f3c;
  transition: 0.2s;
}

.personPhoto {
  width: auto;
  height: 100%;
  margin: 0 auto;
  transition: 0.2s;
}

.photo .personPhoto:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.name {
  font-size: 1.2vw;
  font-weight: bold;
}

.speciality {
  color: #999;
  font-size: 0.8vw;
}

.country {
  font-size: 0.6vw;
}

.Statistics_table table {
  transform: translateY(2vw);
  width: 100%;
}

thead {
  border-bottom: 0.01vw solid #000;
}

tr td {
  font-size: 0.8vw;
  padding: 0.5vw 1.2vw;
}

thead td:first-child {
  padding: 0.8vw 1.7vw;
}

thead td:hover {
  background-color: #fafafa;
  box-shadow: inset 0 -0.2vw 0 0 black;
  padding: 0.8vw 0.82vw;
}

thead td:hover::after {
  content: " \2193";
  color: #58a7bc;
}

thead td:first-child,
tr td:first-child {
  text-align-last: left;
}

tr:nth-child(even) {
  background-color: #faf5fb;
}

.pagination {
  margin-top: 3.2vw;
  text-align: left;
  margin-left: 0.7vw;
}

.pagination a:first-child {
  color: #000;
}

.pagination a:nth-last-child(2) {
  color: #000;
}

.favorites {
  margin-bottom: 2.5vw;
  padding: 0 1.5vw;
}

.carusel {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.info {
  margin-bottom: 1.7vw;
}

footer .menu {
  width: 22.5vw;
}

.arrows {
  transform: translate(-4.8vw, 7vw);
  width: 59vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.arrows img {
  height: 3vw;
  width: 2vw;
}

.star {
  z-index: 2;
  transform: translate(6.3vw, 0);
  position: absolute;
  color: #ecec02;
  font-size: 2.5vw;
}

.star::after {
  content: "\2605";
}

#add_teacher {
  display: none;
}

#add_teacher:target {
  display: block;
}

.modal_back {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.505);
  backdrop-filter: blur(5px);
}

.modal_teacher_info {
  background-color: #fff;
  height: 29vw;
  width: 49.4vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0 0 0.5vw 0.3vw hsl(0deg 0% 0% / 20%);
}

.teacher_info-head {
  height: 3.4vw;
  background-color: #464648;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 1.2vw;
  font-size: 1.3vw;
}

.teacher_info-main {
  height: 25.5vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  padding: 1vw;
}

.teachers_star {
  color: #fbfac1;
  font-weight: bold;
  position: absolute;
  transform: translate(45vw, 0);
}

.teachers_star::after {
  content: "\2606";
  font-size: 2.5vw;
}

.teachers_star:hover::after {
  content: "\2605";
  color: #ecec02;
}

.teachers_photo img {
  float: left;
  width: 16.8vw;
  height: 16.8vw;
}

.teachers_photo {
  grid-area: 1 / 1 / 2 / 2;
}

.teachers_data {
  grid-area: 1 / 2 / 2 / 3;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 0.2vw 2vw;
}

.teachers_notes {
  grid-area: 2 / 1 / 3 / 3;
}

.teachers_data span {
  margin-bottom: 1.05vw;
}

.teachers_name {
  font-size: 2vw;
  margin-bottom: 1.9vw !important;
}

.teachers_speciality {
  font-size: 1.2vw;
  font-weight: bold;
}

.teachers_data-second {
  font-size: 0.8vw;
}

.add_teacher {
  text-align: left;
  background-color: #fff;
  width: 29.2vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0 0 0.5vw 0.3vw hsl(0deg 0% 0% / 20%);
}

.add_teacher-main {
  padding: 1.5vw 2vw;
  font-size: 0.8vw;
  color: #969696;
}

.add_teacher-main form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 30vw;
}

.add_teacher-main input,
.add_teacher-main select,
.add_teacher-main textarea {
  width: 100%;
  font-size: 0.8vw;
  margin: 0.3vw 0 1vw;
}

.add_teacher-main textarea {
  height: 7vw;
  resize: none;
}

.add_teacher-main input,
.add_teacher-main select {
  height: 2vw;
}

.add_teacher-main form select,
#date {
  padding-left: 0.5vw;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
  margin-right: 1vw;
}

.div3 {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 1vw;
}

.div4 {
  grid-area: 3 / 1 / 4 / 2;
  margin-right: 1vw;
}

.div5 {
  grid-area: 4 / 1 / 5 / 3;
}

.div6 {
  grid-area: 5 / 1 / 6 / 3;
}

.sex {
  display: flex;
  margin: 0.5vw 0;
}

.color > label {
  margin-top: 0.5vw;
}

.color {
  display: flex;
  justify-content: space-between;
  margin: 0.5vw 0;
}

.color input {
  width: 2.5vw;
  height: 1.3vw;
  padding: 0.2vw;
}

.sex span {
  margin-right: 2vw;
}

.sex input {
  width: 1.5vw;
  height: 0.8vw;
  margin: 0;
  padding: 0;
}

.sex label {
  color: #000;
}

.div6 .Add_btn {
  margin-top: 1.7vw;
  height: 3vw;
  font-size: 1.5vw;
}

.fa-xmark {
  color: #fff;
  text-align: center;
  font-size: 1.8vw;
  transition: 0.1s;
}

.fa-xmark:hover {
  transition: 0.1s;
  font-size: 2vw;
}

#send_form {
  width: 100%;
  margin-top: 5vw;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 10vw;
    padding: 2vw 5.2vw;
  }

  .logo h1 {
    font-size: 5vw;
    text-shadow: -0.15vw -0.15vw 0.1vw red, 0.15vw 0.15vw 0.1vw #000;
    color: #fff;
    transition: 0.2s;
  }

  .logo h1:hover {
    transition: 0.2s;
    text-shadow: -0.2vw -0.2vw 0.1vw red, 0.2vw 0.2vw 0.1vw #000;
  }

  .search_btn {
    font-weight: 700;
    padding: 0.7vw 1.7vw;
    background-color: #fff;
    font-size: 1.7vw;
  }

  input[type="search"] {
    padding: 1vw 0 1vw 0.4vw;
    width: 17vw;
    margin-right: 0.9vw;
    font-size: 1.15vw;
    transition: 0.2s;
  }

  .header_bottom {
    margin-top: 3.2vw;
    margin-bottom: 3.2vw;
  }

  nav > ul > li > a {
    font-size: 1.8vw;
  }

  .menu {
    width: 35vw;
  }

  .Add_btn {
    padding: 1vw 2vw;
    font-size: 1.5vw;
  }

  hr {
    margin: 4vw 25% 4vw;
  }

  h2 {
    font-size: 2.2vw !important;
  }

  .sort {
    margin: 4vw 0 6vw;
  }

  .category label,
  .category p {
    font-size: 1.5vw;
  }

  .category select {
    font-size: 1.5vw;
  }

  .category select option {
    font-size: 2.2vw;
    width: 100%;
  }

  .teachers {
    grid-template-columns: repeat(4, 1fr);
    margin: 5vw 0;
  }

  .photo {
    width: 11vw;
    height: 11vw;
  }

  .name {
    font-size: 1.6vw;
  }

  .speciality {
    font-size: 1.2vw;
  }

  .country {
    font-size: 1vw;
  }

  .star {
    transform: translate(9.3vw);
    font-size: 4vw;
  }

  tr td {
    font-size: 1.3vw;
  }

  thead td {
    font-size: 1.5vw !important;
  }

  .pagination a {
    font-size: 1.3vw;
  }

  .carusel {
    padding: 0 2vw;
  }

  .arrows {
    transform: translate(-5vw, 7vw);
    width: 76vw;
  }

  .info p {
    font-size: 1.3vw;
    line-height: 1.5;
  }

  footer .menu {
    width: 30vw;
  }

  .modal_teacher_info {
    width: 70vw;
    height: 38vw;
  }

  .teacher_info-head {
    height: 5vw;
    font-size: 2vw;
  }

  .teachers_photo img {
    width: 20vw;
    height: 20vw;
  }

  .teachers_star {
    transform: translate(65vw);
  }

  .teachers_star::after {
    font-size: 3.5vw;
  }

  .teachers_data {
    padding: 0.2vw 0;
  }

  .teachers_name {
    font-size: 2.5vw;
  }

  .teachers_speciality {
    font-size: 1.7vw;
  }

  .teachers_data-second {
    font-size: 1.35vw;
  }

  .teachers_notes p {
    font-size: 1.3vw;
    line-height: 1.5vw;
  }

  .add_teacher {
    width: 50vw;
    height: 60vw;
  }

  .sex input {
    height: 2vw;
    margin: 0 1.5vw;
  }

  .add_teacher-main input,
  .add_teacher-main select {
    height: 3vw;
  }

  .add_teacher-main form label,
  .add_teacher-main form select,
  .add_teacher-main form span,
  .add_teacher-main form input {
    font-size: 1.5vw;
  }

  .div6 .Add_btn {
    margin-top: 0.5vw;
    height: 3.5vw;
    font-size: 1.5vw;
  }
}
